.item-pro-receta{
    padding:20px 23px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: flex-start;
}
.img-pro-receta{
    padding-right: 10px;
}
.img-pro-receta img{
    width: 100%;
    max-height: 100px;
    object-fit: center;
}
.title-pro-receta{
    font-family: Oxygen !important;
    font-size: 14px !important;
    color: #474747;
    margin-bottom: 5px !important;
}
.type-pro-receta{
    font-family: Oxygen !important;
    font-size: 13px !important;
    color: #7A7A7A;
}
.img-receta-admin{
    width:100%;
    object-fit: cover;
    max-height:180px;
}
.grid-derecho-title-re{
    padding-left: 20px;
}
.txt-pre-ckeditor{
    font-family: Atma;
    font-size: 14px;
    color: #9E9E9E;
    margin-bottom: 4px !important;
}

@media(max-width:960px){
    .grid-derecho-title-re{
        padding-left: 0px;
        margin-top: 20px !important;
    }
}