body{
    padding: 0px;
    margin: 0px !important;
}

.top-admin{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px !important;
}
.title-page{
    font-family: Atma;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 37px;
    color: #1DA3A8;
}
.subtitle-page{
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.button-add{
    font-family: Atma !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 19px !important;
    color: #707070 !important;
    border: 1px solid #E1E3EA !important;
    background-color: transparent !important;
    box-shadow: none !important;
    padding:9px 21px !important;
}
.grid-section{
    border-radius:4px;
    border:1px solid #E1E3EA;
    font-family: Oxygen;
    margin-bottom: 25px !important;
}
.grid-resume{
    border: 1px solid #E1E3EA;
    border-radius: 4px;
    margin-bottom: 25px !important;
    display: flex;
    flex-wrap: wrap;
}
.item-resume{
    display: flex;
    padding:20px 25px;
    border-right: 1px solid #E1E3EA;
    border-bottom: 1px solid #E1E3EA;
    align-items: center;
    font-family: Oxygen !important;
}
.title-item-resume{
    font-weight: bold;
    font-size: 12px;
    color: #506176;
    margin-bottom: 7px !important;
}
.txt-item-resume{
    font-size: 16px;
    color: #000000;
}
.input-search:hover, .input-search:focus, .input-search:active{
    transition: all ease-in-out 0.25s;
    border: 1px solid #cfcfcf;
}
.button-filter{
    width: 100% !important;
    height: 100% !important;
    border: 1px solid #1DA3A8 !important;
    font-family: Atma !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 19px !important;
    color: #1DA3A8 !important;
    padding:9px 35px !important;
    margin-left: 5px !important;
}
.button-filter:hover{
    background-color: transparent !important;
}

/* OJO --------------------- */
.MuiDataGrid-columnHeader:focus, .MuiDataGrid-root .MuiDataGrid-cell:focus{
    outline: none !important;
}
.MuiDataGrid-columnHeaderTitleContainer{
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: #7E7E7E;
}
.MuiDataGrid-columnHeaderWrapper {
    background-color: #F3F4F7;
}
/* .MuiTypography-h6{
    font-family: Atma !important;
} */

.MuiTypography-body1{
    font-family: Atma ;
}

.section-top-grid{
    display: flex;
    justify-content: space-between;
    padding:20px;
    border-bottom: 1px solid #E1E3EA;
    font-weight: bold;
    font-size: 13px;
    color: #7E7E7E;
}
.option-menu{
    font-family: Atma !important;
    color: #555555 !important;
    display: flex !important;
    justify-content: space-between !important;
}
.label-input-custom{
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    color: #7E7E7E;
}
.input-stock{
    width: 80%;
    padding: 9px 10px !important;
    border: 1px solid #E1E3EA;
    outline: none;
    transition: all ease-in-out 0.25s;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #474747;
}
.input-stock:hover, .input-stock:focus, .input-stock:active{
    transition: all ease-in-out 0.25s;
    border: 1px solid #cfcfcf;
}
.button-update{
    width: max-content !important;
    margin-top: 25px !important;
    margin-bottom: 5px !important;
}
.grid-spacing-20{
    padding-left: 20px;
}
.title-dialog{
    font-family: Atma !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #1DA3A8;
}
.dialog-content{
    font-family: Oxygen !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #707070 !important;
    margin: 0px !important;
}
.btn-cancelar-op{
    font-family: Atma;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #7E7E7E;
    margin-right: 35px;
    cursor: pointer;
    text-decoration: none;
}
.btn-second{
    margin: 0px !important;
}
.btn-file-input{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.container-inputs{
    padding-left: 20px;
}
.input-admin-100{
    width:95%;
    margin-bottom: 20px !important;
}
.input-admin-50{
    width: 90%;
}
.link-add-bd{
    width: 90%;
    text-align: end;
    text-decoration: none;
    font-family: Atma;
    color: #707070;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}
.link-add-bd:hover, .link-add-bd:focus, .link-add-bd:active{
    color: #1DA3A8;
    transition: all ease-in-out 0.25s;
}
.checkbox-label{
    font-size: 14px !important;
    color: #707070;
}
.checkbox-admin{
    color: #1DA3A8 !important;
}

@media(max-width:960px){
    .grid-spacing-20{
        padding-left: 0px;
    }
}
@media(max-width:600px){
    .input-admin-50, .link-add-bd, .input-admin-100{
        width: 100% !important;
    }
    .container-inputs{
        padding-left: 0px;
    }
}
