.grid-blue{
    background-color: #1DA3A8;
    color:white;
    font-family: Oxygen;
    font-style: normal;
    font-weight: 300;
    font-size: 14px !important;
    line-height: 18px;
    padding:10px;
}
.grid-info{
    padding-left:20px !important;
    display: flex;
    align-items: center;
}
.title-section{
    font-family: Atma;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 49px;
    color: #1DA3A8 !important;
    margin-bottom: 40px;
    display: flex;
}
.last-card-cuenta{
    margin-top:30px !important;
}
.link-option-cuenta{
    text-decoration: none !important;
    transition:all ease-in-out 0.25s;
}
.link-option-cuenta:hover, .link-option-cuenta:focus{
    border: 1px solid #1DA3A8;
    transition:all ease-in-out 0.25s;
}

/* MIS PEDIDOS */
.grid-container-pedido{
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 4px;
}
.grid-gray-info{
    background: #EAEAEA;
    border-radius: 4px;
    padding:10px;
    display:flex;
    flex-wrap: wrap !important;
}
.header-title{
    font-family: Atma;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #9B9B9B;
}
.header-info{
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    color: #707070;
}
.grid-child-gray{
    width: 16.6%;
}
.grid-white{
    display:flex;
    flex-wrap: wrap;
    padding:10px;
}
.status-pedido{
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    color: #707070;
}





@media(max-width:800px){
    .grid-child-gray{
        width:25%;
    }
}
@media(max-width:850px){
    .last-card-cuenta{
        margin-top:0px !important;
    }
}
@media(max-width:600px){
    .grid-blue{
        font-size: 12px !important;
    }
    .grid-info:nth-child(1){
        display: none !important;
    }
    .grid-child-gray{
        margin-bottom: 10px !important;
        width:150px;
    }
}
