.preguntas_title{
    font-family: Atma;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #1DA3A8;
    margin-bottom: 6px;
}

.preguntas_frase{
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #535353;
}

.preguntas_tipo{
    color:#8C8C8C;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
}

.preguntas_sel{
    color:#FFFFFF;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
}

.preguntas_tipo_container{
    background-color: #E8E8E8;
    width: 215px; 
    padding:22px;
    border-radius: 4px;
    min-height: 125px;
    margin-bottom: 8px !important;
}

.preguntas_sel_container{
    background-color: #FFDE59;
    width: 215px; 
    padding:22px;
    border-radius: 4px;
    min-height: 125px;
    margin-bottom: 8px !important;
}

.preguntas_seleccionar{
    margin-bottom: 55px;
    justify-content: space-between;
}

.preguntas_contacto{
    font-family: 'Atma';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #535353;
}

.contacto_space{
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 55px;
}

.preguntas_contacto_items{
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #7E7E7E;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.contacto_circles{
    border: 2px #7E7E7E solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

@media(max-width:900px){
    .preguntas_first{
        padding-top: 20px;
    }
}

@media (max-width:785px){
    .preguntas_seleccionar{
        justify-content: center;
    }

    .preguntas_tipo_container, .preguntas_sel_container{
        width: 80%;
    }
}

@media (max-width:599px){
    .pregunta_svg{
        display: none;
    }
    .preguntas_seleccionar{
        justify-content: space-between;
    }

    .preguntas_tipo_container, .preguntas_sel_container{
        width: 30%;
    }
    .preguntas_contacto{
        text-align: center;
    }

    .preguntas_contacto_items{
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:445px){
    .preguntas_seleccionar{
        justify-content: center;
    }

    .preguntas_tipo_container, .preguntas_sel_container{
        width: 80%;
        min-height: auto;
        padding:5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}