@font-face {
    font-family: Atma;
    src: url(../Atma-Light.ttf);
}


.Atma{
    font-family: Atma;
}

.quienes_somos{
    background-image: url('/img/CATEGORIAS/backgroundblue.jpg');
}

.quienes_somos_content{
    position: fixed;
    z-index: 9999;
}