.terminos-title{
    color: #FFDE59;
    font-family: "Atma";
    font-weight: 600;
    font-size:24px;
    margin-top:10px;
    margin-bottom: 15px !important;
}
.terminos-texto{
    font-family: Oxygen !important;
    color:#7E7E7E;
    font-size: 15px;
    line-height:20px;
    margin-bottom:30px !important;
    text-align:justify ;
}
.terminos-sub-title{
    color: #1DA3A8;
    font-family: "Atma";
    font-weight: 600;
    font-size:16px;
    margin-top:25px !important; 
    margin-bottom: 20px !important;
}