.footer-main{
    width: 100%;
    min-height: 108px;
    background-color: #1DA3A8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 30px;
}

.footer-left{
    width: 30%;
    align-items: flex-end;
    display: flex;
}

.footer-middle{
    width: 30%;
    font-family: Atma;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
}

.footer-right{
    width: 30%;
    text-align: end;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-icons{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto 11px auto;
}

.footer-right a{
    text-decoration: none;
    font-family: Atma;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;

    color: #FFFFFF;
}

.footer-come{
    font-family: "Fredoka One";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;

    color: #FFDE59;
    margin-top: 10px;
}

.footer-copy{
    font-family: Atma;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .footer-icons {
      width: 60%;
    }
  }

  @media (max-width: 760px) {
    .footer-icons {
      width: 80%;
    }
  }

  @media (max-width: 600px) {
    .footer-icons {
      width: 40%;
    }
    .footer-left, .footer-right, .footer-middle{
        width: 100%;
    }

    .footer-left{
      justify-content: center;
      margin-bottom: 15px;
    }

    .footer-middle{
      margin-bottom: 15px;
    }

    .footer-right{
      justify-content: center;
    }
  }


  /* Aqui empiezan los estilos de la navbar :v */
  .main-navbar{
    height: 137px;
    width: 100%;
    background-color:  #FFFFFF;
    padding: 0px 5%;
    position: fixed;
    top: 0px;
  }

  .navbar-sup{
    height: 78px;
    width: 100%;
    border-bottom: 1px solid #D3D3D3;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .navbar-inf{
    height: 59px;
    width: 100%;
    display: flex;
    align-content: center;
  }

  .div-logo{
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #FFDE59;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    left: calc((100% / 2) - 108.5px);
  }

  .div-iconos{
    display: flex;
    align-items: center;
  }

  .div-redes{
    display: flex;
    align-items: center;
  }

  .div-redes .icono{
    text-decoration: none;
    font-family: Atma;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;

    color: #A3A3A3;
    display: flex;
    align-items: center;
  }

  .div-redes .icono img{
    margin-right: 6px;
  }

  .links{
    width: 60%;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .links a{
    text-decoration: none;
    font-family: Atma;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;

    color: #1DA3A8;
    /* esto es el efecto ese feo xd */
    transform: scale(0.95);
    transition: all 700ms;
  }

  .links a:hover{
    border-bottom: 2px solid #FFDE59;
    /* esto es el efecto ese feo xd */
    transform: scale(1.05);
  }

  .content{
    margin-top: 137px;
  }